{% extends 'base.html.twig' %}
{% block title %}CineExplore!{% endblock %}

{% block body %}
    <nav class="navbar bg-light">
        <div class="container">
            <a class="navbar-brand">CineExplore – Explore the World of Cinema</a>
            <form id="formMovie" class="d-flex" role="search">
                <input id="search-bar" class="form-control me-2" type="search" placeholder="Find movie" aria-label="Search">
                <span id="search-bar-icon" class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
</svg>
                </span>
            </form>
        </div>
    </nav>

    <div class="container">
        <div class="frame-trailer">
            {% include 'include/topMovie.html.twig' with {'topMovie': topMovie} %}
        </div>

        <div class="row g-3">
            <div class="col-md-5 col-lg-4 ">
                <div>
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Genre</span>
                    </h4>
                    <ul class="list-group mb-3">
                        {% for genre in allGenre %}
                            <li class="list-group-item d-flex justify-content-between lh-sm">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input radioCheck genreCheckbox" value="{{ genre.id }}" name="genreCheckbox" id="checkbox-{{ genre.id }}" {% if genre.id==genreSelected %}checked{% endif %}/>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{ genre.name }}
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-7 col-lg-8  order-md-last" >
                <label for="limit">Movies per page :</label>
                <select id="limit">
                    {% set limits = [5, 10, 15, 20] %}
                    {% for l in limits %}
                        <option value="{{ l }}" {% if l == limit %}selected{% endif %}>{{ l }}</option>
                    {% endfor %}
                </select>
                <div id='listMovies' class="mt-2">
                    {% include 'include/listMovies.html.twig' with {'listMovies': listMovies} %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('movie') }}

{% endblock %}
